#bat-auction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#bat-auction-table th, #bat-auction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#bat-auction-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#bat-auction-table img {
    border-radius: 5px;
    display: block;
}
